attrs 
Brotli
certifi
cffi
charset-normalizer
contourpy
cycler
dtaidistance
fonttools
future
h2
hpack==4.0.0
hyperframe
idna
importlib_metadata
importlib_resources
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
llvmlite==0.43.0
MarkupSafe
matplotlib
munkres==1.1.4
narwhals
numba==0.60.0
numpy==1.26.4
packaging
pandas
patsy
pillow
pkgutil_resolve_name
platformdirs
pooch
psutil==7.0.0
pycparser
PySocks
python-dateutil
pytz
referencing
requests
rpds-py
scikit-learn
scikit-multiflow
scipy
seaborn
six
sortedcontainers==2.4.0
statsmodels
threadpoolctl
torch
tornado
tsshapelet==2.2.2
typing_extensions
unicodedata2
urllib3
zipp
zstandard==0.23.0
